* {
	margin: 0;
	padding: 0;
}
a img {
	border: none;
}
a {
	color: #e20000;
	text-decoration: none;
	padding: 2px;
	background: #F5FFAF;
}
a:hover {
	background: #e20000;
	color: #F5FFAF;
}
body {
	width: 600px;
	padding: 20px;
	font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-top: 20px solid #F5FFAF;
}

h1 {
	font-family: 'Nixie One', Georgia, serif;
	font-size: 40px;
	padding-bottom: 30px;
	color: #e20000;
}

h2, h3 {
	font-family: 'Nixie One', Georgia, serif;
	font-size: 27px;
	color: #530407;
	padding-bottom: 20px;
}
h3 {
	font-size: 20px;
}

ul h3 {
	font-size: 16px;
	padding-bottom: 5px;
}

p, ul, ol {
	padding-bottom: 20px;
	font-size: 16px;
	line-height: 1.3;
}

ul, ol {
	padding-left: 20px;
}

table {
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
}
table thead th {
	text-align: left;
	padding: 5px;
	border: 1px solid #FFB165;
	background: #F5FFAF;
}
table tbody td {
	padding: 5px;
	border: 1px solid #FFB165;
}

pre {
	margin-bottom: 20px;
}

p code, pre {
	font-family: "Courier New", Courier, mono;
	padding: 2px;
	background: #F5FFAF;
}

.idpaginate {
	padding-bottom: 20px;
}
.idpaginate a {
	margin-right: 5px;
}